body {
	margin: 0;
	padding: 0;
}

.video-cam {
	height: 340px;
	opacity: 0;
	width: 420px;
	z-index: 2;
}

.canvas {
	position: fixed;
	top: 0;
	z-index: -2;
}

.message {
	align-items: center;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	height: calc(100vh - 120px);
	justify-content: space-around;
	margin: 60px;
	position: fixed;
	text-align: center;
	top: 0;
	width: calc(100vw - 120px);
	z-index: -1;
}

.message__heading {
	color: rgba(232, 141, 144);
	content: attr(data-visibility);
	font-size: 6rem;
	margin: 45px;
	text-shadow: 0px 0px 18px rgba(0,0,0,0.4);
}

.message__heading[data-visibility*] {
	display: block;
}

.message__heading[data-visibility="false"] {
	display: none;
}
